@import "tailwindcss";

:root {
  --background: #f3f5f7;
  --foreground: #090b0d;
  caret-color: var(--foreground);
}

@theme inline {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey-dark: #22272A;
  --color-grey: #40484E;
  --color-grey-light: #B4BFCA;
  --color-grey-light-background: #DBE0E6;
  --color-red-dark: #750A0A;
  --font-sans: var(--font-source-sans);
  --font-mono: monospace;
  /* typographic scale: 1.200 */
  --text-sm: 0.833rem;
  --text-base: 16px;
  --text-md: 1.2rem;
  --text-lg: 1.44rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #090B0D;
    --foreground: #F3F5F7;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}